{% extends "menupage.html" %}
{%  block page %}
  <div class="correspondents correspondents--new">
    <h1 class="heading heading--xl page-title">Add Tag</h1>
    <form action="/tags/add" class="form" method="POST">
        <label for="tag_name" class="form__label">Name</label>
        <input id="tag_name" name="name" type="text" class="form__input" autocomplete="off"/>
        <label for="tag_color" class="form__label">Color</label>
        <input id="tag_color" name="color" type="text" class="form__input" autocomplete="off"/>
        <button class="button form__button" type="submit">Add</button>
    </form>
  </div>
{%  endblock page %}