*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: $color-bg;
  
  font-family: $font-primary;
  font-size: $font-size--s;
  line-height: 1.3;

  @include mq(md) {
    font-size: $font-size--m;
  }
  
  @include mq(xxl) {
    font-size: $font-size--l;
  }
}

body {
  margin-top: rem(110px);
  color: $color-text;
}

img {
  max-width: 100%;
}

a {
  color: $color-link;
  text-decoration: none;
  transition: color 250ms;

  &:hover {
    color: $color-link; 
  }

  &:active {
    color: mix(#fff, $color-link--visited, 20%);
  }

  // &:visited {
  //   color: $color-blue--light;
  // }
}

@for $h from 1 to 6 {
  h#{$h} {
    margin: 0;
  }
}