
$color-bg: #fefefe;
$color-text: #454545;

$color-accent: #4a0e8e;

/* Logo Colors */
$color-blue: #4728de;
$color-blue--light: #68b3d9;

$color-violet: #8240e6;
$color-violet--light: #6761e6;
$color-violet--dark: #72418f;

$color-pink: #da4ce8;


$color-buttons: #90A4AE;
$color-table: #fcfcfc;
$color-table--alt: #dee6ea;
$color-table--header: #37474F;

$color-input-border: #CCC;
$color-submit-button: $color-blue;

// $color-wrong: #c0392b;
// $shitty-blue: #0000EE;
// $shitty-violet: #551A8B;
// $color-motherfucking: #16a085;
// $color-blockquote: #456;
// $color-openquote: #666;