$font-primary: 'Open Sans', sans-serif;

$font-size--s: 14px;
$font-size--m: 16px;
$font-size--l: 18px;

$line-height: 1.4;

$mq-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1840px,
);
