{% extends "menupage.html" %}
{%  block page %}
  <div class="correspondents correspondents--index">
    <h1 class="heading heading--xl page-title">Correspondents</h1>
    <div class="actions">
      <h4 class="heading heading--s">Actions</h4>
      <div class="actions-content">
        <a href="/correspondents/add/">
          <button class="button button--add"><i class="fas fa-plus-circle"></i>Add</button>
        </a>
      </div>
    </div>

    <h4 class="heading heading--s">List</h4>
    <div class="correspondents-listing">
      <table class="correspondents-table">
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        {% for correspondent in correspondents %}
          <tr class="correspondent">
            <td><a href="/correspondents/{{correspondent.id }}">{{ correspondent.name }}</a></td>
            <td>
              <div class="actions-content button-small">
                <a href ="/correspondents/{{correspondent.id}}"><button class="button button--small button--view" alt="View"><i class="fas fa-eye"></i></button></a>
                <a href="/correspondents/edit/{{correspondent.id}}"><button class="button button--small button--edit" alt="Edit"><i class="fas fa-pen"></i></button></a>
                <a href="/correspondents/delete/{{correspondent.id}}"><button class="button button--small button--delete" alt="Delete"><i class="fas fa-trash-alt"></i></button></a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{%  endblock page %}