{% extends "page.html" %}
{%  block menu %}
  <ul class="menu">
    {## {% //let m_data : String = *(rh.current_page.lock().unwrap()) %} ##}
    
    {% for me in rh.menu %}
      {% if current_path.starts_with(me.href.as_str()) && me.href != "/" || current_path == "/" && me.href == "/" %}
        <li class="menu__item is-current">
      {% else %}
        <li class="menu__item">
      {% endif %}
        <a href="{{me.href}}" title="{{me.name}}">{{me.name}}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock menu %}