{% extends "page.html" %}
{%  block menu %}
<ul>
    {##
    {% //let m_data : String = *(rh.current_page.lock().unwrap()) %}
    ##}
    {% for me in rh.menu %}
        {% if current_path.starts_with(me.href.as_str()) && me.href != "/" ||
            current_path == "/" && me.href == "/" %}
        <a href="{{me.href}}" class="current"><li>{{me.name}}</li></a>
        {% else %}
        <a href="{{me.href}}"><li>{{me.name}}</li></a>
        {% endif %}
    {% endfor %}
</ul>
{% endblock menu %}