<!DOCTYPE html>
<html>
    <head>
        <title>DMS.rs</title>
        <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    </head>

    <body>
        <header class="header">
            <div class="container">
                <div id="logo">
                    <a href="/">
                        <img src="/img/logo.svg"/>
                    </a>
                </div>
                <nav class="header__nav">
                    {% block menu %}
                    {% endblock menu %}
                </nav>
            </div>
        </header>
        <div id="page">
            {% block page %}
            {% endblock page %}
        </div>
    </body>
</html>