<!DOCTYPE html>
<html>
    <head>
        <title>DMS.rs</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>

    <body>
        <header>
            <div id="logo">
                <a href="/"><img src="/img/logo.svg"/></a>
            </div>
            <menu>
                {% block menu %}
                {% endblock menu %}
            </menu>
        </header>
        <div id="page">
            {% block page %}
            {% endblock page %}
        </div>
    </body>
</html>