<!DOCTYPE html>
<html>
    <head>
        <title>DMS.rs</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>

    <body>
        <div id="page">
            {% block page %}
            {% endblock page %}
        </div>
    </body>
</html>