.document-box {
  display: flex;
  flex-direction: column;
}

.document-box__title {
  margin-bottom: rem(20px);
}

.document-box__metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(20px);
}

.document-box__from,
.document-box__date {
  white-space: nowrap;
}

.document-box__from {
  margin-right: rem(15px);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.document-box__date {
  text-align: right;
}

.document-box__picture {
  display: inline-block;
  flex: 0 0 auto;
  margin-top: rem(10px);
  align-self: center;
  img {
    @include box-shadow(1);
    max-height: 70vh;
  }
}

.document-box__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
