
$white: #FFF;

$main-violet: #4a0e8e;

/* Logo Colors */
$light-blue: #68b3d9;
$light-violet: #6761e6;
$blue: #4728de;
$violet: #8240e6;
$dark-violet: #72418f;
$pink: #da4ce8;

$table-color: #fcfcfc;
$table-alt-color: #dee6ea;
$table-header-color: #37474F;

$input-border-color: #CCC;
$submit-button-color: $blue;

$body-bg-color: #fefefe;
$body-text-color: #454545;

// Link Colors
$link-color: #07A;
$link-visited-color: #941352;
$link-visited-inverted-color: #ac5a82;
// ===============

$wrong-color: #c0392b;
$shitty-blue: #0000EE;
$shitty-violet: #551A8B;
$motherfucking-color: #16a085;
$blockquote-color: #456;
$openquote-color: #666;