@function em($pixels, $context: $font-size-default) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return #{$pixels / $context}em;
}

@function rem($pixels) {
  @if (unitless($pixels)) {
      $pixels: $pixels * 1px;
  }
  @return #{$pixels / $font-size-default}rem;
}

@mixin clearfix {
  *zoom: 1;

  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}
